.allInfo{
    margin: 0 auto;
    width: 700px;
    height: fit-content;
    border: 1px solid rgb(46, 45, 45);
    background-color: #f6f6f7;
    position: fixed;
    top:calc(50% - 300px);
    left:calc(50% - 350px);
    direction:rtl;
    padding: 10px;
}

.Ingredients{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.oneIngredient{
    border: 1px solid black;
    border-radius: 5px;
    width: 31%;
    margin: 5px;
}

p{
    margin: 0;
}

h6{
    margin-bottom: 10px;
    margin-top: 20px;
}

.buttonAddMore{
    width: 200px;
    height: 35px;
    color: white;
    background-color: rgba(24, 38, 44, 0.644);
    border: 1px solid rgb(54, 180, 238);
    border-radius: 5px;
}